{% extends 'main.html' %}
{% block content %}
    <h1>Login Page</h1>
    <form action="">
        Username: <input type="text"> <br>
        Password: <input type="password"> <br>
        <a href="{% url 'forgot-password' %}">Forgot Password</a>
        <input type="submit" name="Login">
    </form>
{% endblock content %}