{% extends 'main.html' %}
{% block content %}
<form action="">
    <a href="{% url 'student-home' %}">Go Back</a>
    <h1>Set new password</h1>
    Confirm Old Password: <input type="password"> <br>
    Enter New Password: <input type="password"> <br>
    Confirm New Password: <input type="password"> <br>
    <input type="submit">
</form>
{% endblock content %}