{% extends 'main.html' %}
{% block content %}
<form action="">
    <h3>Name</h3> 
    <h3> Registration-Number</h3>
    <a href="{% url 'change-password' %}">Change Password</a>
    <input type="Submit" value="Logout">
    <hr>
    <h2 style="text-align: center;">Here goes the time-table</h2>
</form>
{% endblock content %}